
<div class="container pt-5">
    <div class="row">
        <div class="col-3">
        </div>
        <div class="col-6">
            <div class="row">
                <div class="col-4"></div>
            <a class="navbar-brand " href="#">
                <img src="https://uspto.report/TM/88771419/mark.png"
                    alt="logo" style="width:150px;">
            </a>
        </div>
                <div class="card-header text-center mt-4 "><b>LOGIN</b>
                </div>
                <div class="row ">
                    <div class="col text-center">
                        <p class="display-8 text-danger"><b>{{errorMessage}}</b></p>
                    </div>
                </div>
             
                <div class="card-body">
                    <form action="">
                        
                        <div class="Form-group mx-2 my-3">
                            <h6><b>Login as</b></h6>
                            <div class="row mx-2 my-3 ">
                                <div class="col">
                                    <input type="radio" name="signup" [(ngModel)]="sign" value="buyer">Buyer</div>
                                <div class="col">
                                    <input type="radio" name="signup" [(ngModel)]="sign" value="seller">Seller
                                </div>
                            </div>
                            <label for="username"><b>UserName</b></label>
                            <input type="text" class="form-control bg-light" id="username" [(ngModel)]="username"
                                placeholder="username" name="username" />
                        </div>
                        
                        <div class="Form-group mx-2 my-3">
                            <label for="pass"><b>Password</b></label>
                            <input type="password" class="form-control bg-light" id="pass" [(ngModel)]="password"
                                placeholder="password" name="password" />
                        </div>
                        <button type="submit" class="btn btn-dark
                 float-right" (click)="validate()">Login</button>
                    </form>
                </div>
           
        </div>
        <div class="col-3">
        </div>
    </div>
</div>
